* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Open Sans', sans-serif;
}


.logo img {
    display: block;
    margin: 120px auto auto;
}


h1 {
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 52px;
    text-align: center;
    font-weight: normal;
}


.line img {
    margin: 21px auto auto;
    display: block;
}
  

.nav {
    text-align: center;
    margin-top: 22px;
}


.nav img {
   margin: 0 15px;
}


footer {
    color: #fff;
    text-align: center;
    margin-top: 130px;
    font-size: 15px;
    font-weight: 600;
}


span {
    color: #00c7fc;
}